$main-text-color: #757575;
$title-text-color: #212121;
$accent-text-color: #2196f3;
$black: #000000;
$bc-color: #2f303a;
$for-team: #f5f4fa;
$white: #ffffff;
$division-line-color: #ececec;
$border-line-color: #eeeeee;
$social-link-color-default: #afb1b8;
$transparent-white-light: rgba(255, 255, 255, 0.6);
$transparent-white-dark: rgba(255, 255, 255, 0.1);
$backdrop: rgba(0, 0, 0, 0.2);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;
$ff: "Roboto", sans-serif;
